h1 {
    text-align: center;
    color: cornflowerblue;
  }
  
p {
    text-align: center;
}

.blue{
    background-color: rgb(0, 132, 255);
    border-style: none;
    border: 2px solid black;
    border-radius: 15px;
    color: white;
    height: 50px;
    width: auto;
    padding:0 15px 0 15px ;
}

/* .btn {
    background-color: rgb(0, 132, 255);
    border-style: none;
    border: 2px solid black;
} */